/* Main orange: #e67e22 */
/* Dark orange: #cf6d17 */

/*------------------------------Basic Setup---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*------------------------------Reusable components--------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.4)), url(imgcss/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.62);
}

section {
    padding: 90px;
}

.box {
    padding: 1%;
}

/*---------------------------------Header---------------------------------------*/
h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 13px;
    color: #fff;
    font-size: 300%;
    word-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    font-weight: 105px;
    margin-bottom: 15px;
    letter-spacing: 0px;
    word-spacing: 2px;
}

/*----This is the underline bar of section 2 heading-----*/
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

h3:after {
    display: block;
    height: 1px;
    background-color: #b1b1b1;
    content: " ";
    width: 180px;
    margin: 0 2px;
    margin-top: 10px;
}

/*-----------------------------Paragraph-------------------------------------*/
.long-copy {
    line-height: 148%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.hero-class-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box p {
    font-size: 90%;
    line-height: 145%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/*-------------------------------Button---------------------------------------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 5px 30px 9px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: brackground-color 0.2s, border 0.2s, color 0.2s;
    margin-right: 15px;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-ghost:link, 
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-image: linear-gradient(to right, #cf6d17, #e67e22);
    border: 1px solid #cf6d17;
    color: #fff;
}

.logo {
    height: 180px;
    width: auto;
    float: left;
    margin-top: 35px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 95px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding-bottom: 4px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*--------------------------------------Icons----------------------*/
ion-icon {
    font-size: 550%;
    display: block;
    margin-bottom: 10px;
    color: #e67e22;
    padding-left: 50px
}

/*------------------------------------Features---------------------*/
.section-features {
/*
    margin-bottom: 100px;
    box-shadow: 48px 0px -48px rgba(0, 0, 0, 0.62);
*/
    margin-bottom: 100px;
}

/*------------------------------------Gallery----------------------*/
.section-meal {
    padding: 0px;
}

.meal-showcase {
    list-style: none;
    width: 100%;
    
}

.meal-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.75;
    width: 100%;
    height: auto;
    transform: scale(1.20);
    transition: transform 0.25s, opacity 0.3s;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}
















